In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_Singapore_MRT_stations'

In [3]:
html_page = requests.get(url).text

In [4]:
parser = BeautifulSoup(html_page, 'html.parser')

In [5]:
table = parser.find_all(attrs={"class": "wikitable"})[1]

In [6]:
rows = table.find_all('tr')

In [7]:
data = []
for row in rows[2:]:
    cols = row.find_all(['td', 'th'])
    if len(cols) < 3:
        continue
    if cols[0].text.strip() == 'N/A':
        continue
    data.append([list(map(lambda code: code.strip(), cols[0].text.split())), cols[2].text.strip()])

In [8]:
data

[[['NS1', 'EW24'], 'Jurong East'],
 [['NS2'], 'Bukit Batok'],
 [['NS3'], 'Bukit Gombak'],
 [['NS4', 'BP1'], 'Choa Chu Kang'],
 [['NS5'], 'Yew Tee'],
 [['NS7'], 'Kranji'],
 [['NS8'], 'Marsiling'],
 [['NS9', 'TE2'], 'Woodlands'],
 [['NS10'], 'Admiralty'],
 [['NS11'], 'Sembawang'],
 [['NS12'], 'Canberra'],
 [['NS13'], 'Yishun'],
 [['NS14'], 'Khatib'],
 [['NS15'], 'Yio Chu Kang'],
 [['NS16'], 'Ang Mo Kio'],
 [['NS17', 'CC15'], 'Bishan'],
 [['NS18'], 'Braddell'],
 [['NS19'], 'Toa Payoh'],
 [['NS20'], 'Novena'],
 [['NS21', 'DT11'], 'Newton'],
 [['NS22'], 'Orchard'],
 [['NS23'], 'Somerset'],
 [['NS24', 'NE6', 'CC1'], 'Dhoby Ghaut'],
 [['NS25', 'EW13'], 'City Hall'],
 [['NS26', 'EW14'], 'Raffles Place'],
 [['NS27', 'CE2'], 'Marina Bay'],
 [['NS28'], 'Marina South Pier'],
 [['EW1'], 'Pasir Ris'],
 [['EW2', 'DT32'], 'Tampines'],
 [['EW3'], 'Simei'],
 [['EW4', 'CG'], 'Tanah Merah'],
 [['EW5'], 'Bedok'],
 [['EW6'], 'Kembangan'],
 [['EW7'], 'Eunos'],
 [['EW8', 'CC9'], 'Paya Lebar'],
 [['EW9'], 'Aljunied'],
 [['EW10'], 'Kallang'],
 [['EW11'], 'Lavender'],
 [['EW12', 'DT14'], 'Bugis'],
 [['EW13', 'NS25'], 'City Hall'],
 [['EW14', 'NS26'], 'Raffles Place'],
 [['EW15'], 'Tanjong Pagar'],
 [['EW16', 'NE3'], 'Outram Park'],
 [['EW17'], 'Tiong Bahru'],
 [['EW18'], 'Redhill'],
 [['EW19'], 'Queenstown'],
 [['EW20'], 'Commonwealth'],
 [['EW21', 'CC22'], 'Buona Vista'],
 [['EW22'], 'Dover'],
 [['EW23'], 'Clementi'],
 [['EW24', 'NS1'], 'Jurong East'],
 [['EW25'], 'Chinese Garden'],
 [['EW26'], 'Lakeside'],
 [['EW27'], 'Boon Lay'],
 [['EW28'], 'Pioneer'],
 [['EW29'], 'Joo Koon'],
 [['EW30'], 'Gul Circle'],
 [['EW31'], 'Tuas Crescent'],
 [['EW32'], 'Tuas West Road'],
 [['EW33'], 'Tuas Link'],
 [['CG1', 'DT35'], 'Expo'],
 [['CG2'], 'Changi Airport'],
 [['NE1', 'CC29'], 'HarbourFront'],
 [['NE3', 'EW16'], 'Outram Park'],
 [['NE4', 'DT19'], 'Chinatown'],
 [['NE5'], 'Clarke Quay'],
 [['NE6', 'NS24', 'CC1'], 'Dhoby Ghaut'],
 [['NE7', 'DT12'], 'Little India'],
 [['NE8'], 'Farrer Park'],
 [['NE9'], 'Boon Keng'],
 [['NE10'], 'Potong Pasir'],
 [['NE11'], 'Woodleigh'],
 [['NE12', 'CC13'], 'Serangoon'],
 [['NE13'], 'Kovan'],
 [['NE14'], 'Hougang'],
 [['NE15'], 'Buangkok'],
 [['NE16', 'STC'], 'Sengkang'],
 [['NE17', 'PTC'], 'Punggol'],
 [['CC1', 'NS24', 'NE6'], 'Dhoby Ghaut'],
 [['CC2'], 'Bras Basah'],
 [['CC3'], 'Esplanade'],
 [['CC4', 'DT15'], 'Promenade'],
 [['CC5'], 'Nicoll Highway'],
 [['CC6'], 'Stadium'],
 [['CC7'], 'Mountbatten'],
 [['CC8'], 'Dakota'],
 [['CC9', 'EW8'], 'Paya Lebar'],
 [['CC10', 'DT26'], 'MacPherson'],
 [['CC11'], 'Tai Seng'],
 [['CC12'], 'Bartley'],
 [['CC13', 'NE12'], 'Serangoon'],
 [['CC14'], 'Lorong Chuan'],
 [['CC15', 'NS17'], 'Bishan'],
 [['CC16'], 'Marymount'],
 [['CC17'], 'Caldecott'],
 [['CC19', 'DT9'], 'Botanic Gardens • Kebun Bunga'],
 [['CC20'], 'Farrer Road'],
 [['CC21'], 'Holland Village'],
 [['CC22', 'EW21'], 'Buona Vista'],
 [['CC23'], 'one-north'],
 [['CC24'], 'Kent Ridge'],
 [['CC25'], 'Haw Par Villa'],
 [['CC26'], 'Pasir Panjang'],
 [['CC27'], 'Labrador Park'],
 [['CC28'], 'Telok Blangah'],
 [['CC29', 'NE1'], 'HarbourFront'],
 [['CE1', 'DT16'], 'Bayfront'],
 [['CE2', 'NS27'], 'Marina Bay'],
 [['DT1', 'BP6'], 'Bukit Panjang'],
 [['DT2'], 'Cashew'],
 [['DT3'], 'Hillview'],
 [['DT5'], 'Beauty World'],
 [['DT6'], 'King Albert Park'],
 [['DT7'], 'Sixth Avenue'],
 [['DT8'], 'Tan Kah Kee'],
 [['DT9', 'CC19'], 'Botanic Gardens • Kebun Bunga'],
 [['DT10'], 'Stevens'],
 [['DT11', 'NS21'], 'Newton'],
 [['DT12', 'NE7'], 'Little India'],
 [['DT13'], 'Rochor'],
 [['DT14', 'EW12'], 'Bugis'],
 [['DT15', 'CC4'], 'Promenade'],
 [['DT16', 'CE1'], 'Bayfront'],
 [['DT17'], 'Downtown'],
 [['DT18'], 'Telok Ayer'],
 [['DT19', 'NE4'], 'Chinatown'],
 [['DT20'], 'Fort Canning'],
 [['DT21'], 'Bencoolen'],
 [['DT22'], 'Jalan Besar'],
 [['DT23'], 'Bendemeer'],
 [['DT24'], 'Geylang Bahru'],
 [['DT25'], 'Mattar'],
 [['DT26', 'CC10'], 'MacPherson'],
 [['DT27'], 'Ubi'],
 [['DT28'], 'Kaki Bukit'],
 [['DT29'], 'Bedok North'],
 [['DT30'], 'Bedok Reservoir'],
 [['DT31'], 'Tampines West'],
 [['DT32', 'EW2'], 'Tampines'],
 [['DT33'], 'Tampines East'],
 [['DT34'], 'Upper Changi'],
 [['DT35', 'CG1'], 'Expo'],
 [['TE1', 'RTS'], 'Woodlands North'],
 [['TE2', 'NS9'], 'Woodlands'],
 [['TE3'], 'Woodlands South'],
 [['CC17'], 'Caldecott'],
 [['DT10'], 'Stevens'],
 [['NS22'], 'Orchard'],
 [['EW16', 'NE3'], 'Outram Park'],
 [['NS27', 'CE2'], 'Marina Bay'],
 [['CG2'], 'Changi Airport'],
 [['CG1', 'DT35'], 'Expo'],
 [['EW4', 'CG'], 'Tanah Merah'],
 [['NS4', 'BP1'], 'Choa Chu Kang'],
 [['EW27'], 'Boon Lay'],
 [['NS1', 'EW24'], 'Jurong East'],
 [['EW1'], 'Pasir Ris'],
 [['NE14'], 'Hougang'],
 [['NS16'], 'Ang Mo Kio'],
 [['PE4'], 'Riviera'],
 [['NE17', 'PTC'], 'Punggol']]

In [9]:
len(data)

161

In [10]:
filtered_list = list(filter(lambda x: x[0][0][:2] in ['NS', 'CC', 'EW', 'NE', 'CG'], data))

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(filtered_list, columns=["station_code", "station_name"])

In [13]:
df.head(10)

  station_code   station_name
0  [NS1, EW24]    Jurong East
1        [NS2]    Bukit Batok
2        [NS3]   Bukit Gombak
3   [NS4, BP1]  Choa Chu Kang
4        [NS5]        Yew Tee
5        [NS7]         Kranji
6        [NS8]      Marsiling
7   [NS9, TE2]      Woodlands
8       [NS10]      Admiralty
9       [NS11]      Sembawang

In [16]:
exploded_df = df.explode('station_code')

In [21]:
exploded_df.drop_duplicates().reset_index(drop=True).to_csv('./smrt_stations.csv')

In [ ]:
# 78